@model AcunMedyaAkademiPortfolio.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Categori Güncelleme Sayfası</h2>

<form method="post">
    <label >Categori Id</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryId" name="CategoryId" readonly />
    <br />
    <label>Categori İsmi</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
    <br />
    <button class="btn btn-success">Categori Güncelleme</button>
</form>

